<% if notice %>
  <div class="alert alert-danger w-50 mx-auto" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-info w-50 mx-auto" role="alert">
    <%= alert %>
  </div>
<% end %>

<div class="card w-50 mx-auto">
  <div class="card-header">
    Sign In
  </div>
  <div class="card-body">
    <%= form_with url: login_path do |form| %>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "flex@gmail.com" %>
    </div>

    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>

    <div class="mb-3">
        <%= form.submit "Sign In", class: "btn btn-primary" %>
    </div
    <% end %>
    </div>
</div>